# Mac
.DS_Store

.vscode

# Byte-compiled / optimized / DLL files
**/__pycache__
*.pyc


# Django stuff:
#local_settings.py
# db.sqlite3


# Environments
.env
.venv
env/
env_dir/
venv/
ENV/

# Mkdocs
site
