<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Menu</span>
                </li>
                <li class=""> 
                    <a href="{%url 'pharmacist-dashboard' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                </li>
            </ul>
            <ul>        
            <li><a href="{%url 'medicine-list'%}"><i class="fe fe-document"></i> <span>View Medicine</span></a></li>
            <li><a href="{% url 'add-medicine' %}"><i class="fe fe-edit"></i> <span> Add Medicine</span></a></li>

            </ul>
            <ul>
                
                {% comment %} <li class="submenu">
                    <a href="#"><i class="fe fe-user"></i> <span> Medicine Category</span></a>
                    <ul style="display:none;">
                        <li><a href="{% url 'add-pharmacist' %}"><i class="fe fe-user-plus"></i> <span>Add Category </span></a></li>
                        
                        <li><a href="{%url 'pharmacist-list'%}"><i class="fe fe-users"></i> <span>View Category </span></a></li>
                    </ul>
                </li> {% endcomment %}

            </ul>
        </div>
    </div>
</div>