{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>HealthStack</title>
	<!-- Favicons -->
	<link type="image/x-icon" href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon" />

	<!-- Favicon -->

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'HealthStack-System/css/admin/bootstrap.min.css'%}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'HealthStack-System/css/admin/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}">


	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="{% static 'HealthStack-System/admin_assets/css/feathericon.min.css'%}">

	<!-- Datatables CSS -->
	<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/admin/datatables/datatables.min.css'%}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'HealthStack-System/css/admin/style.css'%}">
	<link rel="stylesheet" href="{% static 'HealthStack-System/css/admin/add-medicine.css'%}">


	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>


    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Header -->
              <header class="header">{% include 'hospital_admin/labworker-navbar.html' %}</header>            
              <!-- /Header -->
              
              <!-- Sidebar -->
              <aside class="sidebar" id="sidebar">
                  {% include 'hospital_admin/labworker-sidebar.html' %} </aside>
              <!-- /Sidebar -->

		<div class="page-wrapper">

			<div class="content container-fluid">

				<!-- Breadcrumb -->
				<div class="breadcrumb-bar">
					<div class="container-fluid">
						<div class="row align-items-center">
							<div class="col-md-12 col-12">
								<nav aria-label="breadcrumb" class="page-breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
										<li class="breadcrumb-item active" aria-current="page">Add medicine information
										</li>
									</ol>
								</nav>
								<h2 class="breadcrumb-title">Adding medicine Information</h2>
							</div>
						</div>
					</div>
				</div>
				<!-- /Breadcrumb -->

				<!-- Page Content -->
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-7 col-lg-8 col-xl-12">
								<div class="card">
									<div class="card-header">

										<!-- Medicine data entry Form -->
										<form action="{% url 'add-test' %}" method="POST" enctype="multipart/form-data">
											{% csrf_token %}
											<div class="row form-row">
												
												<div class="col-12 col-md-12">
													<div class="form-group">
														<div class="change-avatar"></div>
													</div>
													<div class="card card-table">
														<div class="card-body">
															<div class="table-responsive">
																<table class="table table-hover table-center">
																	<thead>
																		<tr>
																			<th style="min-width: 300px">Test Name</th>
																			
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>
																				<input class="form-control" type="text" name="test_name" >
																			</td>
																	
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
                            						<div class="card card-table">
														<div class="card-body">
															<div class="table-responsive">
																<table class="table table-hover table-center">
																	<thead>
																		<tr>
																			<th style="min-width: 300px">Description
																			</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>
																				<textarea class="form-control" rows="4"
																					cols="50" type="text"
																					name="description"></textarea>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
													
												
													<div class="submit-section">
														<button type="submit" class="btn btn-primary submit-btn">
															Save Changes
														</button>
													</div>
											</div>
										</form>

										<!-- / Medicine data entry Form -->

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /Page Content -->






			</div>
		</div>
		<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="{% static 'HealthStack-System/js/admin/jquery-3.2.1.min.js' %}"></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'HealthStack-System/js/admin/popper.min.js' %}"></script>
	<script src="{% static 'HealthStack-System/js/admin/bootstrap.min.js' %}"></script>

	<!-- Slimscroll JS -->
	<script src="{% static 'HealthStack-System/plugins/admin/slimscroll/jquery.slimscroll.min.js' %}"></script>

	<!-- Datatables JS -->
	<script src="{% static 'HealthStack-System/plugins/admin/datatables/jquery.dataTables.min.js'%}"></script>
	<script src="{% static 'HealthStack-System/plugins/admin/datatables/datatables.min.js'%}"></script>

	<!-- Custom JS -->
	<script src="{% static 'HealthStack-System/js/admin/script.js' %}"></script>
	<script src="{% static 'HealthStack-System/js/Normal/profile_Settings.js' %}"></script>


</body>


</html>