{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- HealthStack/booking.html  30 Nov 2019 04:12:16 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>HealthStack</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">{% include 'patient_navbar.html' %}</header>
      <!-- /Header -->

      <!-- Breadcrumb -->
      <div class="breadcrumb-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-md-12 col-12">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index-2.html">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Booking
                  </li>
                </ol>
              </nav>
              <h2 class="breadcrumb-title">Booking</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- /Breadcrumb -->

      <!-- Page Content -->
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="booking-doc-info">
                    <a href="doctor-profile.html" class="booking-doc-img">
                      <img
                        src="{{ doctor.featured_image.url }}"
                        alt="User Image"
                      />
                    </a>
                    <div class="booking-info">
                      <h4>
                        <a href="doctor-profile.html">{{doctor.name}}</a>
                      </h4>
                      <div class="rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star"></i>
                        <span class="d-inline-block average-rating">35</span>
                      </div>
                      <p class="text-muted mb-0">
                        <i class="fas fa-map-marker-alt"></i>
                        {{doctor.hospital_name}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Schedule Widget -->
              <div class="card">
                <div class="card-body">
                  <div class="booking-doc-info">
                    <!-- Schedule Header -->

                    <form
                      action="#"
                      method="POST"
                      enctype="multipart/form-data"
                    >
                      {% csrf_token %}

                      <div class="row form-row">
                        <div class="col-12 col-md-12">
                          <div class="form-group">
                            <div class="change-avatar"></div>
                          </div>
                        </div>

                        <div class="col-8 col-md-8">
                          <div class="form-group">
                            <label>Patient Name</label>
                            <input
                              type="text"
                              class="form-control"
                              value="{{patient.name}}"
                            />
                          </div>
                        </div>

                        <div class="col-8 col-md-8">
                          <div class="form-group">
                            <label>Age</label>
                            <input
                              type="text"
                              class="form-control"
                              value="{{patient.age}}"
                            />
                          </div>
                        </div>

                        <div class="col-8 col-md-8">
                          <div class="form-group">
                            <label>Blood Group</label>
                            <input
                              type="text"
                              class="form-control"
                              value="{{patient.blood_group}}"
                            />
                          </div>
                        </div>

                        <!--<div class="col-8 col-md-4">
                          <div class="form-group">
                            <label>Blood Group</label>
                            <select class="form-control select">
                              <option>A-</option>
                              <option>A+</option>
                              <option>B-</option>
                              <option>B+</option>
                              <option>AB-</option>
                              <option>AB+</option>
                              <option>O-</option>
                              <option>O+</option>
                            </select>
                          </div>
                        </div> -->

                        <div class="col-8 col-md-4">
                          <div class="form-group">
                            <label>Email ID</label>
                            <input
                              type="email"
                              class="form-control"
                              value="{{patient.email}}"
                            />
                          </div>
                        </div>

                        <div class="col-8 col-md-4">
                          <div class="form-group">
                            <label>Mobile</label>
                            <input
                              type="text"
                              value="{{patient.phone_number}}"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="col-8 col-md-4">
                          <div class="form-group">
                            <label>Doctor Name</label>
                            <input
                              type="text"
                              class="form-control"
                              value="{{doctor.name}}"
                            />
                          </div>
                        </div>
                        <div class="col-8 col-md-4">
                          <div class="form-group">
                            <label>Appointment Time</label>
                            <input
                              type="text"
                              class="form-control"
                              value="Bla BLa Bla"
                            />
                          </div>
                        </div>
                        <div class="col-8 col-md-4">
                          <div class="form-group">
                            <label>Hospital Name</label>
                            <input
                              type="text"
                              class="form-control"
                              value="{{doctor.hospital_name}}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="submit-section">
                        <button
                          type="submit"
                          class="btn btn-primary submit-btn"
                        >
                          Save Changes
                        </button>
                      </div>
                    </form>
                    <!-- /Schedule Header -->
                  </div>
                </div>
              </div>

              <!-- /Schedule Widget Payment button -->

              <!-- Submit Section -->
              <!-- <div class="submit-section proceed-btn text-right">
                <a href="#" class="btn btn-primary submit-btn"
                  >Proceed to Pay</a
                >
              </div> -->
              <!-- /Submit Section -->
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->

      <!-- Footer -->
      <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-about">
                  <div class="footer-logo">
                    <img
                      src="{% static 'HealthStack-System/images/Normal/footer_logo.png' %}"
                      alt="logo"
                    />
                  </div>
                  <div class="footer-about-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-facebook-f"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-linkedin-in"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-instagram"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-dribbble"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Patients</h2>
                  <ul>
                    <li>
                      <a href="search.html"
                        ><i class="fas fa-angle-double-right"></i> Search for
                        Doctors</a
                      >
                    </li>
                    <li>
                      <a href="login.html"
                        ><i class="fas fa-angle-double-right"></i> Login</a
                      >
                    </li>
                    <li>
                      <a href="register.html"
                        ><i class="fas fa-angle-double-right"></i> Register</a
                      >
                    </li>
                    <li>
                      <a href="booking.html"
                        ><i class="fas fa-angle-double-right"></i> Booking</a
                      >
                    </li>
                    <li>
                      <a href="patient-dashboard.html"
                        ><i class="fas fa-angle-double-right"></i> Patient
                        Dashboard</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Doctors</h2>
                  <ul>
                    <li>
                      <a href="appointments.html"
                        ><i class="fas fa-angle-double-right"></i>
                        Appointments</a
                      >
                    </li>
                    <li>
                      <a href="chat.html"
                        ><i class="fas fa-angle-double-right"></i> Chat</a
                      >
                    </li>
                    <li>
                      <a href="login.html"
                        ><i class="fas fa-angle-double-right"></i> Login</a
                      >
                    </li>
                    <li>
                      <a href="doctor-register.html"
                        ><i class="fas fa-angle-double-right"></i> Register</a
                      >
                    </li>
                    <li>
                      <a href="doctor-dashboard.html"
                        ><i class="fas fa-angle-double-right"></i> Doctor
                        Dashboard</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-contact">
                  <h2 class="footer-title">Contact Us</h2>
                  <div class="footer-contact-info">
                    <div class="footer-address">
                      <span><i class="fas fa-map-marker-alt"></i></span>
                      <p>
                        3556 Beech Street, San Francisco,<br />
                        California, CA 94108
                      </p>
                    </div>
                    <p>
                      <i class="fas fa-phone-alt"></i>
                      +1 315 369 5943
                    </p>
                    <p class="mb-0">
                      <i class="fas fa-envelope"></i>
                      doccure@example.com
                    </p>
                  </div>
                </div>
                <!-- /Footer Widget -->
              </div>
            </div>
          </div>
        </div>
        <!-- /Footer Top -->
      </footer>
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/js/Normal/script.js' %}"></script>
  </body>

  <!-- doccure/booking.html  30 Nov 2019 04:12:16 GMT -->
</html>
