{% load static %}
{% load tz%}
<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/chat.html  30 Nov 2019 04:12:18 GMT -->
<head>
		<meta charset="utf-8">
		<title>HealthStack</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link type="image/x-icon" href=" {% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/style.css' %}">

		<!-- Fancybox CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fancybox/jquery.fancybox.min.css'%}">
		<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    	{% comment %} <script src="{% static 'js/popper.min.js' %}"></script>
    	<script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
   	 	<script src="{% static 'js/script.js' %}"></script>
    	 
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body class="chat-page">

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">{% include 'doctor-navbar.html' %}</header>
			<!-- /Header -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-12">
							<div class="chat-window">
							
								<!-- Chat Left -->
								<div class="chat-cont-left">
									<div class="chat-header">
										<span>Chats</span>
										<a href="javascript:void(0)" class="chat-compose">
											<i class="material-icons"></i>
										</a>
									</div>
									<form class="chat-search" method="GET" action = "{% url 'chat-home' pk=user.id %}">
										<div class="input-group">
											<div class="input-group-prepend">
												<i class="fas fa-search"></i>
											</div>
											<input type="text" class="form-control" placeholder="Search" name="search">
										</div>
									</form>
									<div class="chat-users-list">
										<div class="chat-scroll">
										{% for u in patient %} {% if not u.id == 1 and not u.id == user.id %}
											<a href="{% url 'chat-home' pk=user.id %}?u={{u.user.id}}" class="media">
												<div class="media-img-wrap">
													{%if u.user.login_status%}
													<div class="avatar avatar-online">
														<img src="{{ u.featured_image.url }}" alt="User Image" class="avatar-img rounded-circle">
													</div>
													{%else%}
													<div class="avatar avatar-away">
														<img src="{{ u.featured_image.url }}" alt="User Image" class="avatar-img rounded-circle">
													</div>
													{%endif%}
												</div>
												<div class="media-body">
													<div>
														<div class="user-name">{{u.name}}</div>
														
														<div>
															<div class="user-name">{{d.name}}</div>
															{%if u.user.login_status%}
															<div class="user-last-chat">Online</div>
															{%else%}
															<div class="user-last-chat">Offline</div>
															{%endif%}
														</div>
													</div>
													<div>

														<div class="last-chat-time block">{{u.serial_number}}</div>
														<div class="badge badge-success badge-pill"></div>
													</div>
												</div>
											</a>
										{%endif%}{% endfor %}
										</div>
									</div>
								</div>
								<!-- /Chat Left -->
							
								<!-- Chat Right -->
								
								<div class="chat-cont-right">
									<div class="chat-header">
										<a id="back_user_list" href="javascript:void(0)" class="back-user-list">
											<i class="material-icons">chevron_left</i>
										</a>
										<div class="media">
											<div class="media-img-wrap">
												<div class="avatar avatar-online">
													<img src="{{doctor.featured_image.url}}" alt="User Image" class="avatar-img rounded-circle">
												</div>
											</div>
											<div class="media-body">
												<div class="user-name">{{doctor.name}}</div>
												<div class="user-status">online</div>
											</div>
										</div>
										
									</div>
									{% if not chat_id > 0 %}
										<div class="d-flex flex-column justify-content-center align-items-center" style="height: 650px;">
											<h3>Start Chat now</h3>
											<p><small class="text-muted">Please select a person to chat with.</small></p>
										</div>
									{% else %}

									<div class="chat-body">
										<div class="chat-scroll chat-box">
											<ul class="list-unstyled">
												{% for chat in chats %} 
												{% if chat.user_from == user %}
												<li class="media sent">
													<div class="media-body">
														
														<div class="msg-box">
															<div class="chat-bubble" data-id="{{chat.id}}">
																<p>{{chat.message}}</p>
																<ul class="chat-msg-info">
																	<li>
																		<div class="chat-time">
																			<span>{{chat.date_created|localtime}}</span>
																			<span>{{value|localtime}}</span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
														
													</div>
												</li>
												{% else %}
												<li class="media received">
													
													<div class="avatar">
														<img src="{{ pat.featured_image.url }}" alt="User Image" class="avatar-img rounded-circle">
													</div>
													
													<div class="media-body">
														<div class="msg-box">
															<div class="chat-bubble" data-id="{{chat.id}}">
																<p>{{chat.message}}</p>
																
																<ul class="chat-msg-info">
																	<li>
																		<div class="chat-time">
																			<span>{{chat.date_created|localtime}}</span>
																			<span>{{value|localtime}}</span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
														
													</div>
												</li>
												{% endif %} 
												{% endfor %}
												
												
												<!-- <li class="chat-date">Today</li> -->
				
												
											</ul>
										</div>
									</div>
									
									<div class="chat-box-form border-top p-2" style="height: 70px;">
										<div class="w-100 h-100">
											<form action="" id="chat-submit" class="h-100 d-flex ">
												<input type="hidden" name="user_from" value="{{ user.id }}">
												<input type="hidden" name="user_to" value="{{ chat_id }}">
												<div class="col-md-10 h-100">
													<textarea name="message" id="" class="h-100 w-100 form-control" placeholder="Write your message here"></textarea>
												</div>
												<button class="button btn btn-rounded btn-info h-100 w-100 justify-content-center align-items-center d-flex"><i class="fab fa-telegram-plane"></i></button>
											</form>
										</div>
									</div>
									<!-- <div class="chat-footer">
										<div class="input-group">
											<form action="" id="chat-submit">
											
												<input type="hidden" name="user_from" value="{{ user.id }}">
												<input type="hidden" name="user_to" value="{{ chat_id }}">	

												<input type="text"  name="message" class="input-msg-send form-control" placeholder="Type something">
											<div class="input-group-append">
												<button class="btn msg-send-btn"><i class="fab fa-telegram-plane"></i></button>
											</div>
											</form>
										</div>
									</div> -->
									{% endif %}

									<!-- <div class="col-md-8 h-100">
										{% if not chat_id > 0 %}
										<div class="h-100 d-flex flex-column justify-content-center align-items-center">
											<h3>Start Chat now</h3>
											<p><small class="text-muted">Please select a person to chat with.</small></p>
										</div>
										{% else%}
										<div id="chat-box-field" class="h-100">
											<div class="chat-box" style="height:80%">
												{% for chat in chats %} 

												{% if chat.user_from == user %}
												<div class="p-2 w-100 d-flex justify-content-end">
													<div class=" chat-bubble  ml-2 mb-2 bg-primary text-light rounded" data-id="{{chat.id}}">
														<p>{{chat.message}}</p>
														<div class="d-flex justify-content-between"><small>You</small> <small>{{chat.date_created|date:"M-d-Y H:i"}}</small></div>
													</div>
												</div>
												{% else %}

												<div class="p-2 w-100 d-flex justify-content-start">
													<div class="chat-bubble mr-2 mb-2 bg-light text-dark rounded" data-id="{{chat.id}}">
														<p>{{chat.message}}</p>
														<div class=" d-flex justify-content-between"><small>Sender</small> <small>{{chat.date_created|date:"M-d-Y H:i"}}</small></div>
													</div>
												</div>
												{% endif %}

												{% endfor %}
											</div>
											<div class="chat-box-form border-top p-2" style="height:20%">
												<div class="w-100 h-100">
													<form action="" id="chat-submit" class="h-100 d-flex ">
														<input type="hidden" name="user_from" value="{{ user.id }}">
														<input type="hidden" name="user_to" value="{{ chat_id }}">
														<div class="col-md-10 h-100">
															<textarea name="message" id="" class="h-100 w-100 form-control" placeholder="Write your message here"></textarea>
														</div>
														<button class="button btn btn-primary h-100 w-100 justify-content-center align-items-center d-flex">SEND</button>
													</form>
												</div>
											</div>
										</div>
										{% endif %}
									</div> -->
									
									<!-- <div class="chat-footer">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="btn-file btn">
													<i class="fa fa-paperclip"></i>
													<input type="file">
												</div>
											</div>
											<form action="" id="chat-submit" class="h-100 d-flex">
											<input type="hidden" name="user_from" value="{{user.id}}">
											<input type="hidden" name="user_from" value="{{chat_id}}">	
											<input type="text" class="input-msg-send form-control" placeholder="Type something">
											<div class="input-group-append">
												<button name="message" type="button" class="btn msg-send-btn"><i class="fab fa-telegram-plane"></i></button>
											</div>
											</form>
											
											
										</div>
									</div> -->

								</div>
								<!-- /Chat Right -->
								
							</div>
						</div>
					</div>
					<!-- /Row -->

				</div>

			</div>		
			
	  
		<!-- jQuery -->
		<script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
		<script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
		
		<!-- <script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script> -->
		<script>
			$(function() {
				$('div.dataTables_length select').addClass('bg-dark')
			})
		</script>
		<script>
			$(function() {
				if ($('.chat-bubble:last').length > 0) {
					$('.chat-box').animate({
						scrollTop: $('.chat-bubble:last').offset().top
					}, 'fast')
				}
				$('#chat-submit').submit(function(e) {
					e.preventDefault()
					start_loader()
					$.ajax({
						headers: {
							"X-CSRFToken": '{{csrf_token}}'
						},
						url: "{% url 'chat-send' %}",
						method: "POST",
						data: $(this).serialize(),
						dataType: "json",
						error: err => {
							console.log(err)
							alert('an error occured')
						},
						success: function(resp) {
							if (typeof resp == "object" && resp.status == 'success') {
								location.reload()
							} else {
								consol.log(resp)
								alert('an error occured')
							}
						}
					})
		
		
		
				})
				chats_renew()
				setInterval(() => {
					chats_renew()
				}, 2500)
		
			})
		
			function chats_renew() {
				var last_id = 0
				if ($('.chat-bubble').length > 0)
					last_id = $('.chat-bubble:last').attr('data-id')
				$.ajax({
					headers: {
						"X-CSRFToken": '{{csrf_token}}'
					},
					url: "{% url 'chat-renew' %}",
					method: "POST",
					data: {
						last_id: last_id,
						user_id: '{{user.id}}',
						chat_id: '{{chat_id}}'
					},
					dataType: 'json',
					error: err => {
						console.log(err)
							// alert('an error occured')
					},
					success: function(resp) {
						if (Object.keys(resp).length > 0) {
							Object.keys(resp).map(k => {
								if (resp[k].id.user_from == '{{user.id}}') {
									bubble = '<div class="chat-body">'+
										'<div class="chat-scroll chat-box">'+
									'<ul class="list-unstyled">'+
									'<li class="media sent">'+
													'<div class="media-body">'+	
														'<div class="msg-box">'+
															'<div class="chat-bubble" data-id="' + resp[k].id + '">'+
																'<p>' + resp[k].message + '</p>'+
																'<ul class="chat-msg-info">'+
																	'<li>'+
																		'<div class="chat-time">'+
																			'<span>' + resp[k].date_created + '</span>'+
																		'</div>'+
																	'</li>'+
																'</ul>'+
															'</div>'+
														'</div>'+
														
													'</div>'+
												'</li>';
								} else {   
									bubble = '<div class="chat-body">'+
												'<div class="chat-scroll chat-box">'+
											'<ul class="list-unstyled">'+
									
											'<li class="media received">'+
												'<div class="avatar">'+
													'<img src="{{ pat.featured_image.url }}" alt="User Image" class="avatar-img rounded-circle">'+
												'</div>'+
											
										
													'<div class="media-body">'+	
														'<div class="msg-box">'+
															'<div class="chat-bubble" data-id="' + resp[k].id + '">'+
																'<p>' + resp[k].message + '</p>'+
																'<ul class="chat-msg-info">'+
																	'<li>'+
																		'<div class="chat-time">'+
																			'<span>' + resp[k].date_created + '</span>'+
																		'</div>'+
																	'</li>'+
																'</ul>'+
															'</div>'+
														'</div>'+
														
													'</div>'+
												'</li>'+
												'</ul>'+
												'</div>'+
												'</div>';
								}
								// console.log(bubble)
								$('.chat-box').append(bubble)
								$('.chat-box').animate({
									scrollTop: $('.chat-bubble:last').offset().top * 1000
								}, 'fast')
							})
						}
					}
				})
			}
		</script>
	</body>

<!-- doccure/chat.html  30 Nov 2019 04:12:18 GMT -->
</html>