{% load static %}
<!DOCTYPE html> 
<html lang="en">
	
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>HealthStack</title>
	
	<!-- Favicons -->
	<link type="image/x-icon" href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}">
	
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/style.css' %}">
		
	<link rel="stylesheet"href="{% static 'HealthStack-System/css/Normal/hospital.css' %}"/>	
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
				  <div class="navbar-header">
					<a id="mobile_btn" href="javascript:void(0);">
					  <span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					  </span>
					</a>
					<a href="{% url 'hospital_home'%}" class="navbar-brand logo">
					  <img
						src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}"
						class="img-fluid"
						alt="Logo"
					  />
					</a>
				  </div>
				  <div class="main-menu-wrapper">
					<div class="menu-header">
					  <a href="{% url 'hospital_home'%}" class="menu-logo">
						<img
						  src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}"
						  class="img-fluid"
						  alt="Logo"
						/>
					  </a>
					  <a id="menu_close" class="menu-close" href="javascript:void(0);">
						<i class="fas fa-times"></i>
					  </a>
					</div>
					<ul class="main-nav">
					  <li>
						<a href="{% url 'hospital_home'%}">Home</a>
					  </li>
					  <li class="has-submenu active">
						<a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
						  <li><a href="{% url 'doctor-dashboard'%}">Doctor Dashboard</a></li>
						  <li><a href="{% url 'appointments'%}">Appointments</a></li>
						  <li><a href="{% url 'schedule-timings'%}">Schedule Timing</a></li>
						  <li><a href="{% url 'my-patients'%}">Patients List</a></li>
						  <li><a href="#">Patients Profile</a></li>
						  <!-- <li><a href="#">Chat</a></li>
						  <li><a href="#">Invoices</a></li> -->
						  <li>
							<a href="{% url 'doctor-profile-settings'%}">Profile Settings</a>
						  </li>
						  <!-- <li><a href="reviews.html">Reviews</a></li> -->
						  <!-- <li class="active">
							<a href="doctor-register.html">Doctor Register</a>
						  </li> -->
						</ul>
					  </li>
					  <li class="has-submenu">
						<a href="#">Patients <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
						  <li><a href="{% url 'search'%}">Search Doctor</a></li>
						  <li><a href="{% url 'doctor-profile'%}">Doctor Profile</a></li>
						  <li><a href="{% url 'booking'%}">Booking</a></li>
						  <!-- <li><a href="#">Checkout</a></li> -->
						  <li><a href="{% url 'booking-success'%}">Booking Success</a></li>
						  <li>
							<a href="{% url 'patient-dashboard'%}">Patient Dashboard</a>
						  </li>
						  <!-- <li><a href="#">Favourites</a></li> -->
						  <!-- <li><a href="#">Chat</a></li> -->
						  <li><a href="{% url 'profile-settings'%}">Profile Settings</a></li>
						  <li><a href="{% url 'change-password'%}">Change Password</a></li>
						</ul>
					  </li>
					  <li>
						<a href="{% url 'about-us'%}">About Us</a>
					  </li>
					  <!-- <li class="has-submenu">
						<a href="#">Pages <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
						  <li><a href="voice-call.html">Voice Call</a></li>
						  <li><a href="video-call.html">Video Call</a></li>
						  <li><a href="search.html">Search Doctors</a></li>
						  <li><a href="calendar.html">Calendar</a></li>
						  <li><a href="components.html">Components</a></li>
						  <li class="has-submenu">
							<a href="invoices.html">Invoices</a>
							<ul class="submenu">
							  <li><a href="invoices.html">Invoices</a></li>
							  <li><a href="invoice-view.html">Invoice View</a></li>
							</ul>
						  </li>
						  <li><a href="blank-page.html">Starter Page</a></li>
						  <li><a href="login.html">Login</a></li>
						  <li><a href="register.html">Register</a></li>
						  <li><a href="forgot-password.html">Forgot Password</a></li>
						</ul>
					  </li> -->
					  <li>
						<a href="{% url 'admin_login' %}" target="_blank">Admin</a>
					  </li>
					  <li class="login-link">
						<a href="{% url 'login' %}">Login / Signup</a>
					  </li>
					</ul>
				  </div>
				  <ul class="nav header-navbar-rht">
					<li class="nav-item contact-item">
					  <div class="header-contact-img">
						<i class="far fa-hospital"></i>
					  </div>
					  <div class="header-contact-detail">
						<p class="contact-header">Contact</p>
						<p class="contact-info-header">+880 1795087285</p>
					  </div>
					</li>
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow logged-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
								
								<img class="rounded-circle" src="{% static 'HealthStack-System/images/Normal/patients/patient.jpg' %}" width="31" alt="Richard Wilson">
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="{% static 'HealthStack-System/images/Normal/patients/patient.jpg' %}" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Richard Wilson</h6>
									<p class="text-muted mb-0">Patient</p>
								</div>
							</div>
							<a class="dropdown-item" href="{% url 'patient-dashboard'%}">Dashboard</a>
							<a class="dropdown-item" href="{% url 'profile-settings'%}">Profile Settings</a>
							<a class="dropdown-item" href="{% url 'hospital_home'%}">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
				  </ul>
				</nav>
			  </header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Hospitals</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Hospitals</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="{% static 'HealthStack-System/images/Normal/patients/patient.jpg' %}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>Richard Wilson</h3>
											<div class="patient-details">
												<h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a href="{% url 'patient-dashboard'%}">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<!-- <li>
												<a href="favourites.html">
													<i class="fas fa-bookmark"></i>
													<span>Favourites</span>
												</a>
											</li> -->
											<!-- <li>
												<a href="chat.html">
													<i class="fas fa-comments"></i>
													<span>Message</span>
													<small class="unread-msg">23</small>
												</a>
											</li> -->
											<li>
												<a href="{% url 'search'%}">
													<i class="fas fa-user-md"></i>
													<span>Search Doctor</span>
												</a>
											</li>
											<li>
												<a href="{% url 'profile-settings'%}">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="{% url 'change-password'%}">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="{% url 'hospital_home'%}">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>

							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						
						<div class="col-md-7 col-lg-8 col-xl-9">
							<section class="wrapper">
								<div class="container-fostrap">
									<div>
										<h1>All Hospitals</h1>
									</div>
									<div class="content">
										<div class="container">
											<div class="row">
												<div class="col-xs-12 col-sm-4">
													<div class="card">
														<a class="img-card" href="#">
														<img src="{% static 'images/hospitals/hospital2.png' %}" />
													  </a>
														<div class="card-content">
															<h4 class="card-title">
																<a href="#"> Labaid
															  </a>
															</h4>   
														</div>
														<div class="card-read-more">
															<a href="#" class="btn btn-link btn-block">
																Explore
															</a>
														</div>
													</div>
												</div>
						
												<div class="col-xs-12 col-sm-4">
													<div class="card">
														<a class="img-card" href="#">
														<img src="{% static 'images/hospitals/hospital3.png' %}" />
													  </a>
														<div class="card-content">
															<h4 class="card-title">
																<a href="#"> Square
															  </a>
															</h4>
														</div>
														<div class="card-read-more">
															<a href="#" class="btn btn-link btn-block">
																Explore
															</a>
														</div>
													</div>
												</div>
						
												<div class="col-xs-12 col-sm-4">
													<div class="card">
														<a class="img-card" href="#">
														<img src="{% static 'images/hospitals/hospital2.png' %}" />
													  </a>
														<div class="card-content">
															<h4 class="card-title">
																<a href="#"> Popular
															  </a>
															</h4>
														</div>
														<div class="card-read-more">
															<a href="#" class="btn btn-link btn-block">
																Explore
															</a>
														</div>
													</div>
												</div>
						
												<div class="col-xs-12 col-sm-4">
													<div class="card">
														<a class="img-card" href="#">
														<img src="{% static 'images/hospitals/hospital3.png' %}" />
													  </a>
														<div class="card-content">
															<h4 class="card-title">
																<a href="#"> Al-Raji
															  </a>
															</h4>
														</div>
														<div class="card-read-more">
															<a href="#" class="btn btn-link btn-block">
																Explore
															</a>
														</div>
													</div>
												</div>
						
												<div class="col-xs-12 col-sm-4">
													<div class="card">
														<a class="img-card" href="#">
														<img src="{% static 'images/hospitals/hospital2.png' %}" />
													  </a>
														<div class="card-content">
															<h4 class="card-title">
																<a href="#"> Somorita
															  </a>
															</h4>
														</div>
														<div class="card-read-more">
															<a href="#" class="btn btn-link btn-block">
																Explore
															</a>
														</div>
													</div>
												</div>
						
												<div class="col-xs-12 col-sm-4">
													<div class="card">
														<a class="img-card" href="#">
														<img src="{% static 'images/hospitals/hospital3.png' %}" />
													  </a>
														<div class="card-content">
															<h4 class="card-title">
																<a href="#"> United Hospital
															  </a>
															</h4>
														</div>
														<div class="card-read-more">
															<a href="#" class="btn btn-link btn-block">
																Explore
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="{% static 'HealthStack-System/images/Normal/footer_logo.png' %}" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
										<li><a href="search.html"><i class="fas fa-angle-double-right"></i> Search for Doctors</a></li>
										<li><a href="login.html"><i class="fas fa-angle-double-right"></i> Login</a></li>
										<li><a href="register.html"><i class="fas fa-angle-double-right"></i> Register</a></li>
										<li><a href="booking.html"><i class="fas fa-angle-double-right"></i> Booking</a></li>
										<li><a href="patient-dashboard.html"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Doctors</h2>
									<ul>
										<li><a href="appointments.html"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
										<li><a href="chat.html"><i class="fas fa-angle-double-right"></i> Chat</a></li>
										<li><a href="login.html"><i class="fas fa-angle-double-right"></i> Login</a></li>
										<li><a href="doctor-register.html"><i class="fas fa-angle-double-right"></i> Register</a></li>
										<li><a href="doctor-dashboard.html"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+1 315 369 5943
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											doccure@example.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"><a href="templateshub.net">Templates Hub</a></p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
		<script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>
		
	</body>

<!-- doccure/change-password.html  30 Nov 2019 04:12:18 GMT -->
</html>