{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:03 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>HealthStack</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href=" {% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  {% if user.is_authenticated %}
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">
        {% if user.is_authenticated and user.is_patient %}
				{% include 'patient_navbar.html' %}
				{% endif %}
				
				{% if user.is_authenticated and user.is_doctor %}
				{% include 'doctor-navbar.html' %}
				{% endif %}
      </header>
      <!-- /Header -->

      <!-- Breadcrumb -->
      <div class="breadcrumb-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-md-12 col-12">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                <ol class="breadcrumb">
                  {% if user.is_authenticated and user.is_patient %}
									<li class="breadcrumb-item"><a href="{% url 'patient-dashboard' %}">Home</a></li>
									{% endif %}

									{% if user.is_authenticated and user.is_doctor %}
									<li class="breadcrumb-item"><a href="{% url 'doctor-dashboard' %}">Home</a></li>
									{% endif %}
                  <li class="breadcrumb-item active" aria-current="page">
                    Test
                  </li>
                  
                </ol>
              </nav>
              <h2 class="breadcrumb-title">INFORMATION</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- /Breadcrumb -->

      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <!-- Profile Sidebar -->
              <div>
                {% if user.is_authenticated and user.is_patient %}
								{% include 'patient-sidebar.html' %}
								{% endif %}
				
								{% if user.is_authenticated and user.is_doctor %}
								{% include 'doctor-sidebar.html' %}
								{% endif %}
              </div>
              <!-- /Profile Sidebar -->
            </div>


            <div class="col-md-7 col-lg-8 col-xl-9">

              <div class="row">
                <div class="col-md-12">
                  <h2 class="mb-4 text-center"><b>Test Information</b></h2>
                  <div class="appointment-tab">
                    <!-- Appointment Tab -->



                      <!-- Today Appointment Tab -->
                      <div class="tab-pane" id="today-appointments">
                        <div class="card card-table mb-0">
                          <div class="card-body">
                            <div class="table-responsive">
                              <table
                                class="table table-hover table-center mb-0 text-center"
                              >
                                <thead style="font-size: 30px;">
                                  <tr>
                                    <th>Test Name</th>
                                    <th>Test ID</th>
                                  </tr>
                                </thead>
                                <tbody>

                                  {% for t in tests %}
                                  <tr>
                                    <td> {{t.test_name}}</td>
                                    <td>{{t.test_id}}</td>
                                  
                                  </tr>
                                  {% endfor %}
                 
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /Today Appointment Tab -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->
  {% else %} 
  <p> You are not logged in </p> 
  {% endif %}
    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Circle Progress JS -->
    <script src="{% static 'HealthStack-System/js/Normal/circle-progress.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>

    <!-- Searchbar JS -->
    <script src="{% static 'HealthStack-System/js/Normal/sidebar.js' %}"></script>
  </body>

  <!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:09 GMT -->
</html>
