{% load static %}
<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/doctor-change-password.html  30 Nov 2019 04:12:36 GMT -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>HealthStack</title>
	
	<!-- Favicons -->
	<link type="image/x-icon" href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}">
	
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">{% include 'doctor-navbar.html' %}</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Change Password</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Change Password</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							<div>{% include 'doctor-sidebar.html' %}</div>
							<!-- /Profile Sidebar -->
							
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-12 col-lg-6">
										
											<!-- Change Password Form -->
											<form action="#" method="POST">
												{%csrf_token%}
												{% comment %} <div class="form-group">
													<label>Old Password</label>
													<input type="password" name="old_password" class="form-control" value={{patient.user.password}}>
												</div> {% endcomment %}
												<div class="form-group">
													<label>New Password</label>
													<input name="new_password" type="password" class="form-control">
												</div>
												<div class="form-group">
													<label>Confirm Password</label>
													<input name="confirm_password" type="password" class="form-control">
												</div>
												<div class="submit-section">
													<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
												</div>
											</form>
											<!-- /Change Password Form -->
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			{% include 'footer.html' %}
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
		<script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>

		<!-- Searchbar JS -->
		<script src="{% static 'HealthStack-System/js/Normal/sidebar.js' %}"></script>
		
	</body>

<!-- doccure/doctor-change-password.html  30 Nov 2019 04:12:36 GMT -->
</html>