{% load static %}

<nav class="navbar navbar-expand-lg header-nav">
  <div class="navbar-header">
    <a id="mobile_btn" href="javascript:void(0);">
      <span class="bar-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </a>
    <a href="{% url 'hospital_home'%}" class="navbar-brand logo">
      <img
        src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}"
        class="img-fluid"
        alt="Logo"
      />
    </a>
  </div>
  <div class="main-menu-wrapper">
    <div class="menu-header">
      <a href="{% url 'hospital_home'%}" class="menu-logo">
        <img
          src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}"
          class="img-fluid"
          alt="Logo"
        />
      </a>
      <a id="menu_close" class="menu-close" href="javascript:void(0);">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <ul class="main-nav">
      <li>
        <a href="{% url 'hospital_home'%}">Home</a>
      </li>

      <li>
        <a href="{% url 'doctor-dashboard'%}">Dashboard</a>
      </li>

      <li><a href="{% url 'multiple-hospital' %}" style="text-decoration: none;">Hospitals</a></li>


      <li>
        <a href="{% url 'about-us'%}">About Us</a>
      </li>
      
      <li>
        <a href="{% url 'chat-home' pk=user.id %}">Chat with Patients</a>
      </li>
    
      <li class="login-link">
        <a href="{% url 'login' %}">Login / Signup</a>
      </li>
    </ul>
  </div>
  <ul class="nav header-navbar-rht">
    <li class="nav-item contact-item">
      <div class="header-contact-img">
        <i class="far fa-hospital"></i>
      </div>
      <div class="header-contact-detail">
        <p class="contact-header">Contact</p>
        <p class="contact-info-header">+88{{doctor.phone_number}}</p>
      </div>
    </li>
    <!-- User Menu -->
    <li class="nav-item dropdown has-arrow logged-item">
      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
        <span class="user-img">
          <img
            class="rounded-circle"
            src="{{ doctor.featured_image.url }}"
            width="31"
            alt="Darren Elder"
          />
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="user-header">
          <div class="avatar avatar-sm">
            <img
              src="{{ doctor.featured_image.url }}"
              alt="User Image"
              class="avatar-img rounded-circle"
            />
          </div>
          <div class="user-text">
            <h6>{{doctor.name}}</h6>
            <p class="text-muted mb-0">Doctor</p>
          </div>
        </div>
        <a class="dropdown-item" href="{% url 'doctor-dashboard' %}"
          >Dashboard</a
        >
        <a
          class="dropdown-item"
          href="{% url 'doctor-profile-settings' %}"
          >Profile Settings</a
        >
        <a class="dropdown-item" href="{% url 'doctor-logout' %}">Logout</a>
      </div>
    </li>
    <!-- /User Menu -->
  </ul>
</nav>
