{% load static %}
<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/my-patients.html  30 Nov 2019 04:12:09 GMT -->
<head>
		<meta charset="utf-8">
		<title>HealthStack</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/style.css' %}">
		
		<!-- Department CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/department.css' %}">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				
				{% if user.is_authenticated and user.is_patient %}
				{% include 'patient_navbar.html' %}
				{% endif %}
				
				{% if user.is_authenticated and user.is_doctor %}
				{% include 'doctor-navbar.html' %}
				{% endif %}
			</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">

						<div class="col-md-6 col-6">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									{% if user.is_authenticated and user.is_patient %}
									<li class="breadcrumb-item"><a href="{% url 'patient-dashboard' %}">Home</a></li>
									{% endif %}

									{% if user.is_authenticated and user.is_doctor %}
									<li class="breadcrumb-item"><a href="{% url 'doctor-dashboard' %}">Home</a></li>
									{% endif %}
									<li class="breadcrumb-item active" aria-current="page">Hospital Departments</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Hospital Departments</h2>
						</div>

						{% comment %} <div class="col-md-6 col-6 text-right">
							<div class="top-nav-search">
								<form action="#" method="GET">
									<input type="text" class="form-control" placeholder="Search department" name="search_query" value="{{search_query}}">
									<button class="btn" type="submit"><i class="fa fa-search"></i></button>
								</form>
							</div>
						</div> {% endcomment %}
						

					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							<div>
                               
								{% if user.is_authenticated and user.is_patient %}
								{% include 'patient-sidebar.html' %}
								{% endif %}
				
								{% if user.is_authenticated and user.is_doctor %}
								{% include 'doctor-sidebar.html' %}
								{% endif %}
								
                            </div>
							<!-- /Profile Sidebar -->
							
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
							<h1 class="card-title" style="text-align: center;">All Departments</h1>
							<hr>
							<div class="row row-grid">
								
								
								{% for department in departments %}
								<div class="col-12 col-md-6 col-lg-4 d-flex">
									<div class="card flex-fill card1">
										<a href="#"></a>
										<img alt="Card Image"style="height: 200px;border-radius: 15px 15px 0px 0px" src="{{department.featured_image.url}}" class="card-img-top">
										<div class="card-header" style="border-radius: 15px">
											<h3 class="card-title mb-0" style="text-align: center;">{{department.hospital_department_name}}</h3>
										</div>
										<div class="card-read-more">
											<a href="{% url 'hospital-doctor-list' pk=department.hospital_department_id %}" class="btn btn-link btn-block">
												Explore
											</a>
										</div>
										
									</div>
								</div>
								{% endfor %}
								
								
								
							</div>

						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			{% include 'footer.html' %}
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
		<script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>

		<!-- Searchbar JS -->
		<script src="{% static 'HealthStack-System/js/Normal/sidebar.js' %}"></script>
		
	</body>

<!-- doccure/my-patients.html  30 Nov 2019 04:12:09 GMT -->
</html>