{% load static %}

<nav class="navbar navbar-expand-lg header-nav">
  <div class="navbar-header">
    <a id="mobile_btn" href="javascript:void(0);">
      <span class="bar-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </a>
     <a href="{% url 'hospital_home'%}" class="navbar-brand logo">
      <img
        src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}"
        class="img-fluid"
        alt="Logo"
      /> 
    </a>
  </div>
  <div class="main-menu-wrapper">
    <div class="menu-header">
       <a href="#" class="menu-logo">
        <img
          src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}"
          class="img-fluid"
          alt="Logo"
        />
      </a> 
      <a id="menu_close" class="menu-close" href="javascript:void(0);">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <ul class="main-nav">
      <li>
        <a href="{% url 'hospital_home'%}">Home</a>
      </li>

      {% if user.is_authenticated and user.is_doctor %}
      <li class="has-submenu active">
        <a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
         
          <li>
            <a href="{% url 'doctor-dashboard' %}"
              >Doctor Dashboard</a
            >
          </li>

          <li><a href="{% url 'appointments'%}">Appointments</a></li>
          <li>
            <a href="{% url 'schedule-timings'%}">Schedule Timing</a>
          </li>
          <li><a href="#">Patients List</a></li>
          <li><a href="#">Patients Profile</a></li>
          <li>
            <a href="#">Profile Settings</a>
          </li>
        </ul>
      </li>
      {% endif %}

      {% if user.is_authenticated and user.is_patient %}
      <li class="has-submenu">
        <a href="#">Patients <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a href="{% url 'search' %}">Search Doctor</a></li>
          <li>
            <a href="{% url 'patient-dashboard' %}"
              >Patient Dashboard</a
            >
          </li>
          <li>
            <a href="{% url 'profile-settings' %}"
              >Profile Settings</a
            >
          </li>
          <li>
            <a href="{% url 'change-password' pk=user.id %}">Change Password</a>
          </li>
        </ul>
      </li>
      {% endif %}

      <li>
        <a href="{% url 'about-us'%}">About Us</a>
      </li>


      <li class="login-link">
        <a href="{% url 'login' %}">Login / Signup</a>
      </li>
    </ul>
  </div>

  <ul class="nav header-navbar-rht">
    <li class="nav-item contact-item">
      <div class="header-contact-img">
        <i class="far fa-hospital"></i>
      </div>
      <div class="header-contact-detail">
        <p class="contact-header">Contact</p>
        <p class="contact-info-header">+8801715199382</p>
      </div>
    </li>

    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link header-login" href="{% url 'logout' %}">Logout </a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link header-login" href="{% url 'login' %}"
        >Login / Signup
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
