{% load static %}

<nav class="navbar navbar-expand-lg header-nav">
  <div class="navbar-header">
    <a id="mobile_btn" href="javascript:void(0);">
      <span class="bar-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </a>
    <a href="{% url 'hospital_home'%}" class="navbar-brand logo">
      <img
        src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}"
        class="img-fluid"
        alt="Logo"
      />
    </a>
  </div>
  <div class="main-menu-wrapper">
    <div class="menu-header">
      <a href="{% url 'hospital_home'%}" class="menu-logo">
        <img
          src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}"
          class="img-fluid"
          alt="Logo"
        />
      </a>
      <a id="menu_close" class="menu-close" href="javascript:void(0);">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <ul class="main-nav">
      <li>
        <a href="{% url 'hospital_home'%}">Home</a>
      </li>
      <li class="has-submenu active">
        <a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
          {% if user.is_authenticated and user.is_doctor %}
          <li>
            <a href="{% url 'doctor-dashboard' pk=user.id %}"
              >Doctor Dashboard</a
            >
          </li>
          {% endif %}

          <li><a href="{% url 'appointments'%}">Appointments</a></li>
          <li>
            <a href="{% url 'schedule-timings'%}">Schedule Timing</a>
          </li>
          <li><a href="#">Patients List</a></li>
          <li><a href="#">Patients Profile</a></li>
          <!-- <li><a href="#">Chat</a></li>
            <li><a href="#">Invoices</a></li> -->
          <li>
            <a href="#">Profile Settings</a>
          </li>
          <!-- <li><a href="reviews.html">Reviews</a></li> -->
          <!-- <li class="active">
              <a href="doctor-register.html">Doctor Register</a>
            </li> -->
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">Patients <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a href="#">Search Doctor</a></li>
          <li>
            <a href="#">Doctor Profile</a>
          </li>
          <!-- <li><a href="#">Booking</a></li> -->
          <!-- <li><a href="#">Checkout</a></li> -->
          <li>
            <a href="{% url 'booking-success'%}">Booking Success</a>
          </li>

          {% if user.is_authenticated and user.is_patient %}
          <li>
            <a href="{% url 'patient-dashboard' pk=user.id %}"
              >Patient Dashboard</a
            >
          </li>
          <li>
            <a href="{% url 'profile-settings' pk=user.id %}"
              >Profile Settings</a
            >
          </li>
          {% endif %}

          <!-- <li><a href="#">Favourites</a></li> -->
          <!-- <li><a href="#">Chat</a></li> -->

          <li>
            <a href="{% url 'change-password'%}">Change Password</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{% url 'about-us'%}">About Us</a>
      </li>
      <!-- <li class="has-submenu">
          <a href="#">Pages <i class="fas fa-chevron-down"></i></a>
          <ul class="submenu">
            <li><a href="voice-call.html">Voice Call</a></li>
            <li><a href="video-call.html">Video Call</a></li>
            <li><a href="search.html">Search Doctors</a></li>
            <li><a href="calendar.html">Calendar</a></li>
            <li><a href="components.html">Components</a></li>
            <li class="has-submenu">
              <a href="invoices.html">Invoices</a>
              <ul class="submenu">
                <li><a href="invoices.html">Invoices</a></li>
                <li><a href="invoice-view.html">Invoice View</a></li>
              </ul>
            </li>
            <li><a href="blank-page.html">Starter Page</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="forgot-password.html">Forgot Password</a></li>
          </ul>
        </li> -->
      <li>
        <a href="{% url 'admin_login' %}">Admin</a>
      </li>
      <li>
        <a href="{% url 'pharmacy_homepage' %}">Pharmacy</a>
      </li>
      <li class="login-link">
        <a href="{% url 'login' %}">Login / Signup</a>
      </li>
    </ul>
  </div>
  <ul class="nav header-navbar-rht">
    <li class="nav-item contact-item">
      <div class="header-contact-img">
        <i class="far fa-hospital"></i>
      </div>
      <div class="header-contact-detail">
        <p class="contact-header">Contact</p>
        <p class="contact-info-header">+880 1795087285</p>
      </div>
    </li>

    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link header-login" href="{% url 'logout' %}">Logout </a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link header-login" href="{% url 'login' %}"
        >Login / Signup
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
