{% load static %}

    <div class="profile-sidebar">
      <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
          <a href="#" class="booking-doc-img">
            <img
              src="{{ patient.featured_image.url }}"
              alt="User Image"
            />
          </a>
          <div class="profile-det-info">
            <h3>{{patient.name}}</h3>
            <div class="patient-details">
              <h5>
                <i class="fas fa-birthday-cake"></i> {{ patient.dob }}
              </h5>
              <h5 class="mb-0">
                <i class="fas fa-map-marker-alt"></i>
                {{ patient.address }}
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard-widget">
        <nav class="dashboard-menu sidebar">
          <ul>
            <li class="active">
              <a href="{% url 'patient-dashboard' %}">
                <i class="fas fa-columns"></i>
                <span>Dashboard</span>
              </a>
            </li>

            <li class="nav-item has-submenu">
              <a href="{% url 'search' %}">
                <i class="fas fa-user-md"></i>
                <span>Search Doctor</span>
              </a>
            </li>
            
            <li class="has-submenu">
              <a href="{% url 'pharmacy_shop' %}" class="nav-link">
                <i class="fas fa-capsules"></i>
                <span>Medical Shop</span>
              </a>

            </li>
            
            <li>
                <a href="{% url 'multiple-hospital' %}">
                  <i class="fas fa-hospital"></i>
                  <span>Multiple Hospital</span>
                </a>
            </li>

            <li>
              <a href="{% url 'doctor-test-list'%}" target="_blank">
                <i class="fas fa-hourglass-start"></i>
                <span>Test Information</span>
              </a>
            </li>
        
            <li>            
              <a href="{% url 'profile-settings' %}">
                <i class="fas fa-user-cog"></i>
                <span>Profile Settings</span>
              </a>
            </li>
            <li>
              <a href="{% url 'change-password' pk=user.id%}">
                <i class="fas fa-lock"></i>
                <span>Change Password</span>
              </a>
            </li>
            <li>
              <a href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>


        </nav>
      </div>
    </div>

