{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>HealthStack</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">{% include 'patient_navbar.html' %}</header>
      <!-- /Header -->

      <!-- Breadcrumb -->
      <div class="breadcrumb-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-md-12 col-12">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index-2.html">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Patient Dashboard
                  </li>
                </ol>
              </nav>
              <h2 class="breadcrumb-title">Patient Dashboard</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- /Breadcrumb -->

      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <div class="profile-sidebar">
                <div class="widget-profile pro-widget-content">
                  <div class="profile-info-widget">
                    <a href="#" class="booking-doc-img">
                      <img
                        src="{{ patient.featured_image.url }}"
                        alt="User Image"
                      />
                    </a>
                    <div class="profile-det-info">
                      <h3>{{patient.name}}</h3>
                      <div class="patient-details">
                        <h5>
                          <i class="fas fa-birthday-cake"></i> {{ patient.dob }}
                        </h5>
                        <h5 class="mb-0">
                          <i class="fas fa-map-marker-alt"></i>
                          {{ patient.address }}
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-widget">
                  <nav class="dashboard-menu">
                    <ul>
                      <!-- <li>
												<a href="favourites.html">
													<i class="fas fa-bookmark"></i>
													<span>Favourites</span>
												</a>
											</li> -->
                      <!-- <li>
												<a href="chat.html">
													<i class="fas fa-comments"></i>
													<span>Message</span>
													<small class="unread-msg">23</small>
												</a>
											</li> -->
                      <li>
                        <a href="{% url 'search' pk=user.id %}">
                          <i class="fas fa-user-md"></i>
                          <span>Search Doctor</span>
                        </a>
                      </li>
                      <li></li>
                      <li>
                        <a href="{% url 'multiple-hospital' %}">
                          <i class="fas fa-user-md"></i>
                          <span>Multiple Hospital</span>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'profile-settings' pk=user.id %}">
                          <i class="fas fa-user-cog"></i>
                          <span>Profile Settings</span>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'change-password'%}">
                          <i class="fas fa-lock"></i>
                          <span>Change Password</span>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'logout' %}">
                          <i class="fas fa-sign-out-alt"></i>
                          <span>Logout</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <!-- / Profile Sidebar -->

            <div class="col-md-7 col-lg-8 col-xl-9">
              <div class="card">
                <div class="card-body pt-0">
                  <!-- Tab Menu -->
                  <nav class="user-tabs mb-4">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          href="#pat_appointments"
                          data-toggle="tab"
                          >Appointments</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="#pat_prescriptions"
                          data-toggle="tab"
                          >Prescriptions</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="tab"
                          ><span class="med-records">Reports</span></a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="#pat_medical_records"
                          data-toggle="tab"
                          ><span class="med-records">Medical Records</span></a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="#pat_billing"
                          data-toggle="tab"
                          >Billing</a
                        >
                      </li>
                    </ul>
                  </nav>
                  <!-- /Tab Menu -->

                  <!-- Tab Content -->
                  <div class="tab-content pt-0">
                    <!-- Appointment Tab -->
                    <div
                      id="pat_appointments"
                      class="tab-pane fade show active"
                    >
                      <div class="card card-table mb-0">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                              <thead>
                                <tr>
                                  <th>Doctor</th>
                                  <th>Appt Date</th>
                                  <th>Type</th>
                                  <th>Status</th>
                                  <th>Amount</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for appointment in appointments %}
                                <tr>
                                  <td>
                                    <h2 class="table-avatar">
                                      <a
                                        href="doctor-profile.html"
                                        class="avatar avatar-sm mr-2"
                                      >
                                        <img
                                          class="avatar-img rounded-circle"
                                          src="{{ appointment.doctor.featured_image.url }}"
                                          alt="User Image"
                                        />
                                      </a>
                                      <a href="doctor-profile.html"
                                        >{{ appointment.doctor.name }}
                                        <span
                                          >{{appointment.doctor.department}}</span
                                        ></a
                                      >
                                    </h2>
                                  </td>
                                  <td>
                                    {{appointment.id}}
                                    <span class="d-block text-info"
                                      >{{appointment.time}}</span
                                    >
                                  </td>
                                  <td>{{appointment.appointment_type}}</td>
                                  
                                  <td>{{appointment.doctor.consultation_fee}} BDT</td>
                                  <td>
                                    {% if appointment.appointment_status == 'pending' %}
                                    <span class="badge badge-pill bg-warning-light">Pending</span>
                                    {% endif %}
                                    {% if appointment.appointment_status == 'confirmed' %}
                                    <span class="badge badge-pill bg-success-light">Confirm</span>
                                    {% endif %}
                                    {% if appointment.appointment_status == 'cancelled' %}
                                    <span class="badge badge-pill bg-danger-light">Cancelled</span>
                                    {% endif %}
                                  </td>

                                  <td class="text-right">
                                    <div class="table-action">
                                      <a
                                        href="{% url 'ssl-payment-request' %}"
                                        class="btn btn-sm bg-success-light"
                                      >
                                        <i class="fas fa-dollar-sign"></i> Pay
                                        Now
                                      </a>
                                      <a
                                        href="#"
                                        class="btn btn-sm bg-primary-light"
                                      >
                                        <i class="fas fa-print"></i> Print
                                      </a>

                                      <a
                                        href="javascript:void(0);"
                                        class="btn btn-sm bg-info-light"
                                      >
                                        <i class="far fa-eye"></i> View
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Appointment Tab -->

                    <!-- Prescription Tab -->
                    <div class="tab-pane fade" id="pat_prescriptions">
                      <div class="card card-table mb-0">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                              <thead>
                                <tr>
                                  <th>Date</th>
                                  <th>Name</th>
                                  <th>Created by</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>14 Nov 2019</td>
                                  <td>Prescription 1</td>
                                  <td>
                                    <h2 class="table-avatar">
                                      <a
                                        href="doctor-profile.html"
                                        class="avatar avatar-sm mr-2"
                                      >
                                        <img
                                          class="avatar-img rounded-circle"
                                          src="{% static 'HealthStack-System/images/Normal/doctors/doctor-thumb-01.jpg' %}"
                                          alt="User Image"
                                        />
                                      </a>
                                      <a href="doctor-profile.html"
                                        >Dr. Ruby Perrin <span>Dental</span></a
                                      >
                                    </h2>
                                  </td>
                                  <td class="text-right">
                                    <div class="table-action">
                                      <a
                                        href="javascript:void(0);"
                                        class="btn btn-sm bg-primary-light"
                                      >
                                        <i class="fas fa-print"></i> Print
                                      </a>
                                      <a
                                        href="javascript:void(0);"
                                        class="btn btn-sm bg-info-light"
                                      >
                                        <i class="far fa-eye"></i> View
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Prescription Tab -->

                    <!-- -->
                    <div id="pat_medical_records" class="tab-pane fade">
                      <div class="card card-table mb-0">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Date</th>
                                  <th>Description</th>
                                  <th>Attachment</th>
                                  <th>Created</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <a href="javascript:void(0);">#MR-0010</a>
                                  </td>
                                  <td>14 Nov 2019</td>
                                  <td>Dental Filling</td>
                                  <td><a href="#">dental-test.pdf</a></td>
                                  <td>
                                    <h2 class="table-avatar">
                                      <a
                                        href="doctor-profile.html"
                                        class="avatar avatar-sm mr-2"
                                      >
                                        <img
                                          class="avatar-img rounded-circle"
                                          src="{% static 'HealthStack-System/images/Normal/doctors/doctor-thumb-01.jpg' %}"
                                          alt="User Image"
                                        />
                                      </a>
                                      <a href="doctor-profile.html"
                                        >Dr. Ruby Perrin <span>Dental</span></a
                                      >
                                    </h2>
                                  </td>
                                  <td class="text-right">
                                    <div class="table-action">
                                      <a
                                        href="javascript:void(0);"
                                        class="btn btn-sm bg-info-light"
                                      >
                                        <i class="far fa-eye"></i> View
                                      </a>
                                      <a
                                        href="javascript:void(0);"
                                        class="btn btn-sm bg-primary-light"
                                      >
                                        <i class="fas fa-print"></i> Print
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Medical Records Tab -->

                    <!-- medical record -->
                    <div id="pat_medical_records" class="tab-pane fade">
                      <div class="card card-table mb-0">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Date</th>
                                  <th>Description</th>
                                  <th>Attachment</th>
                                  <th>Created</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <a href="javascript:void(0);">#MR-0010</a>
                                  </td>
                                  <td>14 Nov 2019</td>
                                  <td>Dental Filling</td>
                                  <td><a href="#">dental-test.pdf</a></td>
                                  <td>
                                    <h2 class="table-avatar">
                                      <a
                                        href="doctor-profile.html"
                                        class="avatar avatar-sm mr-2"
                                      >
                                        <img
                                          class="avatar-img rounded-circle"
                                          src="{% static 'HealthStack-System/images/Normal/doctors/doctor-thumb-01.jpg' %}"
                                          alt="User Image"
                                        />
                                      </a>
                                      <a href="doctor-profile.html"
                                        >Dr. Ruby Perrin <span>Dental</span></a
                                      >
                                    </h2>
                                  </td>
                                  <td class="text-right">
                                    <div class="table-action">
                                      <a
                                        href="javascript:void(0);"
                                        class="btn btn-sm bg-info-light"
                                      >
                                        <i class="far fa-eye"></i> View
                                      </a>
                                      <a
                                        href="javascript:void(0);"
                                        class="btn btn-sm bg-info-light"
                                      >
                                        <i class="far fa-paypal"></i> Pay Now
                                      </a>
                                      <a
                                        href="javascript:void(0);"
                                        class="btn btn-sm bg-primary-light"
                                      >
                                        <i class="fas fa-print"></i> Print
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Medical Records Tab -->

                    <!-- Billing Tab -->
                    <div id="pat_billing" class="tab-pane fade">
                      <div class="card card-table mb-0">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                              <thead>
                                <tr>
                                  <th>Invoice No</th>
                                  <th>Doctor</th>
                                  <th>Amount</th>
                                  <th>Paid On</th>
                                  <th>Payment Status</th>
                                </tr>
                              </thead>
                              <tbody>

                              
                                <tr>
                                  <td>
                                    <a href="invoice-view.html">#INV-0010</a>
                                  </td>
                                  <td>
                                    <h2 class="table-avatar">
                                      <a
                                        href="doctor-profile.html"
                                        class="avatar avatar-sm mr-2"
                                      >
                                        <img
                                          class="avatar-img rounded-circle"
                                          src="{% static 'HealthStack-System/images/Normal/doctors/doctor-thumb-01.jpg' %}"
                                          alt="User Image"
                                        />
                                      </a>
                                      <a href="doctor-profile.html"
                                        >Ruby Perrin <span>Dental</span></a
                                      >
                                    </h2>
                                  </td>
                                  <td>$450</td>
                                  <td>14 Nov 2019</td>
                                  <td>
                                    <span class="badge badge-pill bg-warning-light">Pending</span>
                                  </td>
                                  <td class="text-right">
                                    <div class="table-action">
                                      <a
                                        href="invoice-view.html"
                                        class="btn btn-sm bg-info-light"
                                      >
                                        <i class="far fa-eye"></i> View
                                      </a>
                                      <a
                                        href="javascript:void(0);"
                                        class="btn btn-sm bg-primary-light"
                                      >
                                        <i class="fas fa-print"></i> Print
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                             


                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Billing Tab -->
                  </div>
                  <!-- Tab Content -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->

      <!-- Footer -->
      <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-about">
                  <div class="footer-logo">
                    <img
                      src="{% static 'HealthStack-System/images/Normal/footer_logo.png' %}"
                      alt="logo"
                    />
                  </div>
                  <div class="footer-about-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-facebook-f"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-linkedin-in"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-instagram"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-dribbble"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Patients</h2>
                  <ul>
                    <li>
                      <a href="search.html"
                        ><i class="fas fa-angle-double-right"></i> Search for
                        Doctors</a
                      >
                    </li>
                    <li>
                      <a href="login.html"
                        ><i class="fas fa-angle-double-right"></i> Login</a
                      >
                    </li>
                    <li>
                      <a href="register.html"
                        ><i class="fas fa-angle-double-right"></i> Register</a
                      >
                    </li>
                    <li>
                      <a href="booking.html"
                        ><i class="fas fa-angle-double-right"></i> Booking</a
                      >
                    </li>
                    <li>
                      <a href="patient-dashboard.html"
                        ><i class="fas fa-angle-double-right"></i> Patient
                        Dashboard</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Doctors</h2>
                  <ul>
                    <li>
                      <a href="appointments.html"
                        ><i class="fas fa-angle-double-right"></i>
                        Appointments</a
                      >
                    </li>
                    <li>
                      <a href="chat.html"
                        ><i class="fas fa-angle-double-right"></i> Chat</a
                      >
                    </li>
                    <li>
                      <a href="login.html"
                        ><i class="fas fa-angle-double-right"></i> Login</a
                      >
                    </li>
                    <li>
                      <a href="doctor-register.html"
                        ><i class="fas fa-angle-double-right"></i> Register</a
                      >
                    </li>
                    <li>
                      <a href="doctor-dashboard.html"
                        ><i class="fas fa-angle-double-right"></i> Doctor
                        Dashboard</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-contact">
                  <h2 class="footer-title">Contact Us</h2>
                  <div class="footer-contact-info">
                    <div class="footer-address">
                      <span><i class="fas fa-map-marker-alt"></i></span>
                      <p>
                        3556 Beech Street, San Francisco,<br />
                        California, CA 94108
                      </p>
                    </div>
                    <p>
                      <i class="fas fa-phone-alt"></i>
                      +1 315 369 5943
                    </p>
                    <p class="mb-0">
                      <i class="fas fa-envelope"></i>
                      doccure@example.com
                    </p>
                  </div>
                </div>
                <!-- /Footer Widget -->
              </div>
            </div>
          </div>
        </div>
        <!-- /Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
          <div class="container-fluid">
            <!-- Copyright -->
            <div class="copyright">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="copyright-text">
                    <p class="mb-0">
                      <a href="templateshub.net">Templates Hub</a>
                    </p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <!-- Copyright Menu -->
                  <div class="copyright-menu">
                    <ul class="policy-menu">
                      <li>
                        <a href="term-condition.html">Terms and Conditions</a>
                      </li>
                      <li><a href="privacy-policy.html">Policy</a></li>
                    </ul>
                  </div>
                  <!-- /Copyright Menu -->
                </div>
              </div>
            </div>
            <!-- /Copyright -->
          </div>
        </div>
        <!-- /Footer Bottom -->
      </footer>
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/js/Normal/script.js' %}"></script>
  </body>

  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
</html>
