{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>HealthStack</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
  
  

      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
           

					<div class="row">
						<div class="col-lg-8 offset-lg-2">
							<div class="invoice-content">
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-logo">
												<img style="float: left;
												width: 220px;"src="static/HealthStack-System/images/Normal/FullLogo_Transparent_NoBuffer.png" alt="logo">
											</div>
										</div>
										<div class="col-md-6" style="float: right;
										width: 50%;">
								
											<p class="invoice-details">
												<strong>Patient ID:</strong> {{prescription.patient.patient_id}} <br>
												<strong>Date:</strong> 20/07/2019 
											</p>
										</div>
									</div>
								</div>
								
								<!-- Invoice Item -->
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-info">
												<strong class="customer-text">Doctor Information</strong>
												<p class="invoice-details invoice-details-two">
													<b>Name: </b>{{prescription.doctor.name}} <br>
													<b>Department: </b>{{prescription.doctor.department_name}}<br>
													<b>Email: </b>{{prescription.doctor.email}} <br>
													<b>Phone Number: </b>{{prescription.doctor.phone_number}}
												</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="invoice-info invoice-info2">
												<strong class="customer-text">Prescription To</strong>
												<p class="invoice-details">
													<b>Name: </b>{{prescription.patient.name}}<br>
													<b>Addtress: </b>{{prescription.patient.address}}
													<b>Email: </b>{{prescription.patient.email}}<br>
													<b>Phone Number: </b>{{prescription.patient.phone_number}}
													
												</p>
												
											</div>
										</div>
									</div>
								</div>
								<!-- /Invoice Item -->
								
								
								
								<!-- Invoice Item -->
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered" style="border: 1px dashed black">
													
														<tr style="background-color: rgb(84, 147, 199);">
														
														
															<th>Medicine Name</th>
															<th class="text-center">Quantity</th>
															<th class="text-center">Frequency</th>
															<th class="text-center">Duration</th>
															<th class="text-center">Relation with meal</th>
															<th class="text-center">Instruction</th>
															
															
														</tr>
														{% for pm in perscription_medicine %}
														<tr>
															<th class="text-center">{{pm.medicine_name}}</td>
															<td class="text-center">{{pm.quantity}}</td>
															<td class="text-center">{{pm.frequency}}</td>
															<td class="text-center">{{pm.duration}}</td>
															<td class="text-center">{{pm.relation_with_meal}}</td>
															<td class="text-center">{{pm.instruction}}</td>
															
															
														</tr>
														{% endfor %}
													
												</table>
											</div>
										</div>
										
									</div>
								</div>

								
                                <!-- Invoice Item -->
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered">
													
														<tr style="background-color:skyblue;vertical-align: center;height: 50px;">
															<th>Test Name</th>
															<th class="text-center">Description</th>
														</tr>
													
													
														{% for pt in prescription_test %}
														<tr>
															
															<td class="text-center">{{pt.test_name}}</td>
															<td class="text-center">{{pt.test_description}}</td>
															
														</tr>
														{% endfor %}
													
												</table>
											</div>
										</div>
										
									</div>
								</div>
								<!-- /Invoice Item -->
                                
								
								<!-- Invoice Information -->
								<!-- <div class="other-info">
									<h4>Extra Notes</h4>
									<p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed dictum ligula, cursus blandit risus. Maecenas eget metus non tellus dignissim aliquam ut a ex. Maecenas sed vehicula dui, ac suscipit lacus. Sed finibus leo vitae lorem interdum, eu scelerisque tellus fermentum. Curabitur sit amet lacinia lorem. Nullam finibus pellentesque libero.</p>
								</div> -->
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered">
													<thead>
														<tr>
															<th>Advice/Recommendation</th>
						
															
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>{{prescription.extra_information}}</td>
												
															
														</tr>
											
													</tbody>
												</table>
											</div>
										</div>
										
									</div>
								</div>
								<!-- /Invoice Information -->
								
							</div>
						</div>
					</div>

				</div>
				
			
			</div>		
			<!-- /Page Content -->
			
			
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/js/Normal/script.js' %}"></script>
  </body>

<!-- doccure/invoice-view.html  30 Nov 2019 04:12:20 GMT -->
</html>