{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/profile-settings.html  30 Nov 2019 04:12:18 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>HealthStack</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Datetimepicker CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap-datetimepicker.min.css' %}"
    />

    <!-- Select2 CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/select2/css/select2.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">{% include 'patient_navbar.html' %}</header>
      <!-- /Header -->

      <!-- Breadcrumb -->
      <div class="breadcrumb-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-md-12 col-12">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'patient-dashboard' %}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Profile Settings
                  </li>
                </ol>
              </nav>
              <h2 class="breadcrumb-title">Profile Settings</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- /Breadcrumb -->

      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <div>{% include 'patient-sidebar.html' %}</div>
            </div>
            <!-- /Profile Sidebar -->

            <!-- <div class="col-md-7 col-lg-8 col-xl-9">
              <div class="card">
                <div class="card-body">
                  
                  <form
                    action="{% url 'profile-settings' %}"
                    method="POST"
                    enctype="multipart/form-data"
                  >
                    {% csrf_token %}
              </div>
            </div> -->

            <div class="col-md-7 col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body">
									
									<!-- Profile Settings Form -->
									<form action="{% url 'profile-settings' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
										<div class="row form-row">
											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="change-avatar">
														<div class="profile-img">
															<img src="{{patient.featured_image.url}}" alt="User Image">
														</div>
														<div class="upload-img">
															<div class="change-photo-btn">
																<span><i class="fa fa-upload"></i> Upload Photo</span>
																<input type="file" class="upload" name="featured_image">
															</div>
															<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
														</div>
													</div>
												</div>
											</div>     

                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Username <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" readonly value="{{patient.username}}" >
                        </div>
											</div>

                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Email <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" readonly value="{{patient.email}}" >
                        </div>
											</div>  

                      <div class="col-12 col-md-6">
												<div class="form-group">
													<label>Name</label>
													<input type="text" class="form-control" value="{{ patient.name }}" name="name">
												</div>
											</div>
							
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>Date of Birth</label>
														<input type="text" class="form-control datetimepicker" value="{{patient.dob}}" name="dob">
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>Blood Group</label>
													<select class="form-control select" name="blood_group">
                            <option value="{{patient.blood_group}}">{{patient.blood_group}}</option>
														<option value="A-">A-</option>
														<option value="A+">A+</option>
														<option value="B-">B-</option>
														<option value="B+">B+</option>
														<option value="AB-">AB-</option>
														<option value="AB+">AB+</option>
														<option value="O-">O-</option>
														<option value="O+">O+</option>
													</select>
												</div>
											</div>
										
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>Mobile</label>
													<input type="text" value="{{patient.phone_number}}" class="form-control" name="phone_number">
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
												<label>Address</label>
													<input type="text" class="form-control" value="{{patient.address}}" name="address">
												</div>
											</div>
                      <div class="col-12 col-md-6">
												<div class="form-group">
												<label>Age</label>
													<input type="text" class="form-control" value="{{patient.age}}" name="age">
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>NID</label>
													<input type="text" class="form-control" value="{{patient.nid}}" name="nid">
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>History</label>
													<input type="text" class="form-control" value="{{patient.history}}" name="history">
												</div>
											</div>
										</div>
										<div class="submit-section">
											<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
										</div>
									</form>
									<!-- /Profile Settings Form -->
									
								</div>
							</div>
						</div>
          </div>

        </div>
      </div>
      <!-- /Page Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Select2 JS -->
    <script src="{% static 'HealthStack-System/plugins/Normal/select2/js/select2.min.js' %}"></script>

    <!-- Datetimepicker JS -->
    <script src="{% static 'HealthStack-System/js/Normal/moment.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap-datetimepicker.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>

    <!-- Searchbar JS -->
    <script src="{% static 'HealthStack-System/js/Normal/sidebar.js' %}"></script>
  </body>

  <!-- doccure/profile-settings.html  30 Nov 2019 04:12:18 GMT -->
</html>
