{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/login.html  30 Nov 2019 04:12:20 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Report</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

	<!-- Main Wrapper -->
		<!-- <div class="main-wrapper"> -->
        <div class="wrapper">

            <h3 style="text-align: center; color:green; font-size: 18px;">Report</h3>
                
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr class="head"> 
                    <td>report_id</td>
                    <td>doctor</td>
                    <td>patient</td>
                    <td>specimen_id</td>
                    <td>specimen_type</td>
                    <td>collection_date</td>
                    <td>receiving_date</td>
                    <td>test_name</td>
                    <td>result</td>
                    <td>unit</td>
                    <td>referred_value</td>
                    <td>delivery_date</td>
                    </tr>
                    </thead>
                    
                <tbody>

                    
                    
                    
                    
                    <tr class="item">
                    <td>{{item.report_id}}</td>
                    <td>{{item.doctor}}</td> 
                    <td>{{item.patient}}</td>
                    <td>{{item.specimen_id}}</td>
                    <td>{{item.specimen_type}}</td>
                    <td>{{item.collection_date}}</td>
                    <td>{{item.receiving_date}}</td>
                    <td>{{item.test_name}}</td>
                    <td>{{item.result}}</td>
                    <td>{{item.unit}}</td>
                    <td>{{item.referred_value}}</td>
                    <td>{{item.delivery_date}}</td>
                    </tr>
                </tbody>
                   

                    
                        

</table>


<!-- <h3 style="color:blue; text-align:center; font-size-16px;">HealthStack-System</h3>  -->



</div>
		
			
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/js/Normal/script.js' %}"></script>

    <!-- Searchbar JS -->
    <script src="{% static 'HealthStack-System/js/Normal/sidebar.js' %}"></script>
  </body>

  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
</html>