{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/login.html  30 Nov 2019 04:12:20 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Report PDF</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			
			<!-- Breadcrumb -->
			<!-- <div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
                                    {% if user.is_authenticated and user.is_patient %}
									<li class="breadcrumb-item"><a href="">View Report</a></li>
                                    {% endif %}
									<li class="breadcrumb-item active" aria-current="page">Report Result</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Report Result</h2>
						</div>
					</div>
				</div>
			</div> -->
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
                         
						<div class="col-md-7 col-lg-8">
							<div class="invoice-content">
								<div class="invoice-item">
									<div class="row">
                    
										<div class="col-md-6">
											<div class="invoice-logo">
												<img src="{% static 'HealthStack-System/images/Normal/FullLogo_Transparent_NoBuffer.png'%}" alt="logo">
											</div>
										</div>
										<div class="col-md-6">
											<p class="invoice-details">
												<strong>Patient ID:</strong> {{report.patient.patient_id }} <br>
												<strong>Date:</strong> {{current_date}}
											</p>
										</div>
									</div>
								</div>
								
								<!-- Invoice Item -->
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-info">
												<strong class="customer-text">Doctor Information</strong>
												<p class="invoice-details invoice-details-two">
													{{report.doctor.name}} <br>
													{{report.doctor.address}}<br>
													{{report.doctor.email}}<br>
                          {{report.doctor.phone_number}}<br>
												</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="invoice-info invoice-info2">
												<strong class="customer-text">Patient Information</strong>
												<p class="invoice-details">
													{{report.patient.name}}<br>
													{{report.patient.email}} <br>
													{{report.patient.phone_number}}<br>
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- /Invoice Item -->
								
								
								
								<!-- Invoice Item
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered">
													<thead>
														<tr>
															<th>Medicine Name</th>
															<th class="text-center">Quantity</th>
															<th class="text-center">Days</th>
															<th class="text-center">Time</th>
															<th class="text-center">Description</th>
															
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>NAPA</td>
															<td class="text-center">1</td>
															<td class="text-center">1</td>
															<td class="text-center">1</td>
															<td class="text-center">1</td>
															
														</tr>
														<tr>
															<td>SECLO</td>
															<td class="text-center">1</td>
															<td class="text-center">1</td>
															<td class="text-center">1</td>
															<td class="text-center">1</td>
															
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										
									</div>
								</div> -->

								
                                <!-- Invoice Item -->
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered">
													<thead>
														<tr>
															<th>Specimen Information</th>
                              <th class="text-center">Specimen ID</th>
                              <th class="text-center">Collection Date/Time</th>
                              <th class="text-center">Receiving Date/Time</th>
														</tr>
                            <tr>
                              
															<th class="text-center">{{report.specimen_type|slugify}}</th>
                              <th class="text-center">none</th>
                              <th class="text-center">{{report.collection_date |slugify}}</th>
                              <th class="text-center">{{report.receiving_date|slugify}}</th>
	
														</tr>
														
													</tbody>
												</table>
											</div>
										</div>
										
									</div>
								</div>

           
                  <br>
                  <div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered">
													<thead>
														<tr>
															<th>Test Name</th>
                              <th class="text-center">Result</th>
															<th class="text-center">Unit</th>
                             <th class="text-center">Referred value</th>
	
														</tr>
                            <tr>
                              <th class="text-center">{{report.report_id}}</th>
                              <th class="text-center">{{report.result|slugify}}</th>
															<th class="text-center">{{report.unit|slugify}}</th>
                              <th class="text-center">{{report.referred_value|slugify}}</th>
	
														</tr>
														
													</tbody>
												</table>
                        <!-- <button class="btn btn-secondary"> <a href="{% url 'pdf' pk=report.report_id %}" > PDF </a></button> -->
											</div>
										</div>
										
									</div>
								</div>
                                
								<!-- /Invoice Item -->
                                
								
							</div>
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->

   
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/js/Normal/script.js' %}"></script>

    <!-- Searchbar JS -->
    <script src="{% static 'HealthStack-System/js/Normal/sidebar.js' %}"></script>
  </body>

  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
</html>