{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/login.html  30 Nov 2019 04:12:20 GMT -->
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		<style>

		</style>
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
	
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row" style="font-size:14px ;">
						
						<div class="col-md-7 col-lg-8">
							<div class="invoice-content">
								<div class="invoice-item">
									<div class="row">
                    
										<div class="col-md-6">
											<div class="invoice-logo">
												<img style="float: left;
												width: 220px;"src="static/HealthStack-System/images/Normal/FullLogo_Transparent_NoBuffer.png" alt="logo">
											</div>
										</div>
										<div class="col-md-6" style="float: right;
										width: 50%;">
											<p class="invoice-details">
												
												<strong>Report ID:</strong>{{report.report_id}} <br>
												<strong>Patient ID:</strong> {{report.patient.patient_id }} <br>
												<strong>Date:</strong> {{report.delivery_date}}
											</p>
										</div>
									</div>
								</div>
								
								<!-- Invoice Item -->
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-info">
												<h1><strong class="customer-text">Doctor Information:</strong></h1>
												<p class="invoice-details invoice-details-two">
													<b>Name: </b>{{report.doctor.name}} <br>
													
													<b>Email: </b>{{report.doctor.email}} <br>

													<b>Department: </b>{{report.doctor.department_name}}<br>

													
                                                    <!-- <b>Doctor Ph: </b>{{report.doctor.phone_number}}<br> -->
												</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="invoice-info invoice-info2">
												<h1><strong class="customer-text">Patient Information:</strong></h1>
												<p class="invoice-details">
													<b>Name: </b>{{report.patient.name}}<br>
													<b>Age: </b>{{report.patient.age}}<br>
													<b>Blood Group: </b>{{report.patient.blood_group}}<br>
													<b>Email: </b>{{report.patient.email}} <br>
													<b>Phone: </b>{{report.patient.phone_number}}<br>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered" style="text-align: center;border: 1px solid black">
													
														<tr style="vertical-align: center;height: 50px;">
															<th>Specimen Information</th>
															<th>Specimen ID</th>
															<th>Collection Date/Time</th>
															<th>Receiving Date/Time</th>
														</tr>
														{% for s in specimen %}
                                          				 <tr style="vertical-align: center;height: 30px;">
															
															<td>{{s.specimen_type}}</td>
															<td>{{s.specimen_id}}</td>
															<td>{{s.collection_date}}</td>
															<td>{{s.receiving_date}}</td>
															
	
														</tr>
														{% endfor %}

												</table>
											</div>
										</div>
										
									</div>
								</div>

           
                  				
                  				<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<h2 class="text-center" style="margin-bottom: 4px;color:rgb(84, 147, 199);text-align: center;"><b>Test</b></h2>
												<table class="invoice-table table table-bordered" style="border: 1px inset black">
													
														<tr style="background-color:rgb(84, 147, 199);vertical-align: center;height: 50px;">
															<th>Test Name</th>
                                     						<th class="text-center">Result</th>
															<th class="text-center">Unit</th>
                              								<th class="text-center">Referred value</th>
	
														</tr>
														<tr style="vertical-align: ;height: 30px;">
															{% for t in test %}
														
															<th class="text-center">{{t.test_name}}</th>
															<th class="text-center">{{t.result}}</th>
															<th class="text-center">{{t.unit}}</th>
															<th class="text-center">{{t.referred_value}}</th>

															{% endfor %}
														</tr>
														
													
												</table>
											</div>
										</div>
										
									</div>
								</div>
								<div class="other-info">
									<h2 class="text-center" style="margin-bottom: 4px;color:rgb(84, 147, 199);text-align: center;"><b>Other Information</b></h2>
									<p>{{report.other_information}}</p>
                                  
								</div>
								<!-- /Invoice Item -->
                                
								
							</div>
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->

   
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>

    <!-- Searchbar JS -->
    <script src="{% static 'HealthStack-System/js/Normal/sidebar.js' %}"></script>
  </body>

  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
</html>