{% load static %}
<!DOCTYPE html> 
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>HealthStack</title>

		<!-- Favicons -->
		<link type="image/x-icon" href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}">

		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>

	<body class="account-page">

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
				  <div class="navbar-header">
					<a id="mobile_btn" href="javascript:void(0);">
					  <span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					  </span>
					</a>
					<a href="{% url 'hospital_home'%}" class="navbar-brand logo">
					  <img
						src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}"
						class="img-fluid"
						alt="Logo"
					  />
					</a>
				  </div>
				  <div class="main-menu-wrapper">
					<div class="menu-header">
					  <a href="{% url 'hospital_home'%}" class="menu-logo">
						<img
						  src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}"
						  class="img-fluid"
						  alt="Logo"
						/>
					  </a>
					  <a id="menu_close" class="menu-close" href="javascript:void(0);">
						<i class="fas fa-times"></i>
					  </a>
					</div>
					<ul class="main-nav">
					  <li>
						<a href="{% url 'hospital_home'%}">Home</a>
					  </li>

					  <li>
						<a href="{% url 'about-us'%}">About Us</a>
					  </li>
			
					  <li class="login-link">
						<a href="{% url 'login' %}">Login / Signup</a>
					  </li>
					</ul>
				  </div>
				  <ul class="nav header-navbar-rht">
					<li class="nav-item contact-item">
					  <div class="header-contact-img">
						<i class="far fa-hospital"></i>
					  </div>
					  <div class="header-contact-detail">
						<p class="contact-header">Contact</p>
						<p class="contact-info-header">+880 1795087285</p>
					  </div>
					</li>
					<li class="nav-item">
					  <a class="nav-link header-login" href="{% url 'login' %}"
						>login / Signup
					  </a>
					</li>
				  </ul>
				</nav>
			  </header>
			<!-- /Header -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-md-8 offset-md-2">
							
							<!-- Account Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src="{% static 'HealthStack-System/images/Normal/login-banner.png' %}" class="img-fluid" alt="Login Banner">	
									</div>
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3>Forgot Password?</h3>
											<p class="small text-muted">Enter your email to get a password reset link</p>
										</div>
										
										<!-- Forgot Password Form -->
										<form method="POST">
											{% csrf_token %}

											{% comment %} <div class="form-group form-focus">
												<input type="email" class="form-control floating" name="email">
												<label class="focus-label">Email</label>
											</div> {% endcomment %}
											
											{{form.as_p}}

											<div class="text-right">
												<a class="forgot-link" href="{% url 'login' %}">Remember your password?</a>
											</div>
											<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Reset Password</button>


										</form>
										<!-- /Forgot Password Form -->
										
									</div>
								</div>
							</div>
							<!-- /Account Content -->
							
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			{% include 'footer.html' %}
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
		<script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>
		
	</body>

</html>