<h1>Testing</h1>


{{ department_list }}
<br>

{{ department_list.0 }}
<br>

{% for i in department_list %}
    {{i}}
    <br>
{% endfor %}
<br>

<hr>
{% for d in departments %}
    {{d.hospital_department_name}}
    <br>
{% endfor %}
<br>

{% comment %} {{ degree }}
<br>
{{ degree_array }}
<br>
{{ degree_array.0 }}
<br>
<br>
{% for i in degree_array %}
    {{i}}
    <br>
{% endfor %}
<br>
<hr>
{% for e in education %}
    <tr>
        <td>{{ e.0 }}</td>
        <td>{{ e.1 }}</td>
        <td>{{ e.2 }} </td>
    </tr>
{% endfor %} {% endcomment %}




