{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/login.html  30 Nov 2019 04:12:20 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>HealthStack</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">	{% if user.is_authenticated and user.is_patient %}
                                    {% include 'patient_navbar.html' %}
                                    {% endif %}
				</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
                                    {% if user.is_authenticated and user.is_patient %}
									<li class="breadcrumb-item"><a href="">View Report</a></li>
                                    {% endif %}
									<li class="breadcrumb-item active" aria-current="page">Report Result</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Report Result</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
                         <!-- Profile Sidebar -->
                                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                                    <div>{% include 'patient-sidebar.html' %}</div>
                                </div>
                            <!-- / Profile Sidebar -->
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="invoice-content">
								<div class="invoice-item">
									<div class="row">
                    
										<div class="col-md-6">
											<div class="invoice-logo">
												<img src="{% static 'HealthStack-System/images/Normal/FullLogo_Transparent_NoBuffer.png'%}" alt="logo">
											</div>
										</div>
										<div class="col-md-6">
											<p class="invoice-details">
												<strong>Patient ID:</strong> {{patient.patient_id }} <br>
												<strong>Date:</strong> {{current_date}}
											</p>
										</div>
									</div>
								</div>
								
								<!-- Invoice Item -->
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-info">
												<strong class="customer-text">Doctor Information</strong>
                        {% for report in report %}
												<p class="invoice-details invoice-details-two">
													{{report.doctor.name}} <br>
													{{report.doctor.address}}<br>
													{{report.doctor.email}}<br>
                          {{report.doctor.phone_number}}<br>
												</p>
                        
											</div>
										</div>
										<div class="col-md-6">
											<div class="invoice-info invoice-info2">
												<strong class="customer-text">Patient Information</strong>
												<p class="invoice-details">
													{{patient.address}}<br>
													{{patient.email}} <br>
													{{patient.phone_number}}<br>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered" >
													<thead >
														<tr style="background-color: rgb(84, 147, 199);">
															<th>Specimen Information</th>
                              <th class="text-center">Specimen ID</th>
                              <th class="text-center">Collection Date/Time</th>
                              <th class="text-center">Receiving Date/Time</th>
														</tr>
                            {% for s in specimen %}
                            <tr>
                              
															<th class="text-center">{{s.specimen_type}}</th>
                              <th class="text-center">{{s.specimen_id}}</th>
                              <th class="text-center">{{s.collection_date}}</th>
                              <th class="text-center">{{s.receiving_date}}</th>
	
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
										
									</div>
								</div>

           
                  <br>
                  <div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered">
													<thead>
														<tr style="background-color: rgb(84, 147, 199);">
															<th>Test Name</th>
                              <th class="text-center">Result</th>
															<th class="text-center">Unit</th>
                             <th class="text-center">Referred value</th>
	
														</tr>
                            {% for t in test %}
                            <tr>

                              <th class="text-center">{{report.report_id}}</th>
                              <th class="text-center">{{report.result|slugify}}</th>
															<th class="text-center">{{report.unit|slugify}}</th>
                              <th class="text-center">{{report.referred_value|slugify}}</th>

                              <th class="text-center">{{t.test_name}}</th>
                              <th class="text-center">{{t.result}}</th>
															<th class="text-center">{{t.unit}}</th>
                              <th class="text-center">{{t.referred_value}}</th>

	
														</tr>
														{% endfor %}
													</tbody>
												</table>
                        <button class="btn btn-secondary"> <a href="{% url 'pdf' pk=report.report_id %}" > PDF </a></button>
											</div>
										</div>
										
									</div>
								</div>
                                
								<!-- /Invoice Item -->
                                
								
								<!-- Invoice Information -->
								<div class="other-info">
									<h4 style="background-color: rgb(84, 147, 199);">Other information</h4>
									<p>{{report.other_information}}</p>
                  {% endfor %}
								</div>
								<!-- /Invoice Information -->
								
							</div>
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->

      <!-- Footer -->
      <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-about">
                  <div class="footer-logo">
                    <img
                      src="{% static 'HealthStack-System/images/Normal/footer_logo.png' %}"
                      alt="logo"
                    />
                  </div>
                  <div class="footer-about-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-facebook-f"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-linkedin-in"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-instagram"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-dribbble"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Patients</h2>
                  <ul>
                    <li>
                      <a href="search.html"
                        ><i class="fas fa-angle-double-right"></i> Search for
                        Doctors</a
                      >
                    </li>
                    <li>
                      <a href="login.html"
                        ><i class="fas fa-angle-double-right"></i> Login</a
                      >
                    </li>
                    <li>
                      <a href="register.html"
                        ><i class="fas fa-angle-double-right"></i> Register</a
                      >
                    </li>
                    <li>
                      <a href="booking.html"
                        ><i class="fas fa-angle-double-right"></i> Booking</a
                      >
                    </li>
                    <li>
                      <a href="patient-dashboard.html"
                        ><i class="fas fa-angle-double-right"></i> Patient
                        Dashboard</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Doctors</h2>
                  <ul>
                    <li>
                      <a href="appointments.html"
                        ><i class="fas fa-angle-double-right"></i>
                        Appointments</a
                      >
                    </li>
                    <li>
                      <a href="chat.html"
                        ><i class="fas fa-angle-double-right"></i> Chat</a
                      >
                    </li>
                    <li>
                      <a href="login.html"
                        ><i class="fas fa-angle-double-right"></i> Login</a
                      >
                    </li>
                    <li>
                      <a href="doctor-register.html"
                        ><i class="fas fa-angle-double-right"></i> Register</a
                      >
                    </li>
                    <li>
                      <a href="doctor-dashboard.html"
                        ><i class="fas fa-angle-double-right"></i> Doctor
                        Dashboard</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-contact">
                  <h2 class="footer-title">Contact Us</h2>
                  <div class="footer-contact-info">
                    <div class="footer-address">
                      <span><i class="fas fa-map-marker-alt"></i></span>
                      <p>
                        3556 Beech Street, San Francisco,<br />
                        California, CA 94108
                      </p>
                    </div>
                    <p>
                      <i class="fas fa-phone-alt"></i>
                      +1 315 369 5943
                    </p>
                    <p class="mb-0">
                      <i class="fas fa-envelope"></i>
                      doccure@example.com
                    </p>
                  </div>
                </div>
                <!-- /Footer Widget -->
              </div>
            </div>
          </div>
        </div>
        <!-- /Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
          <div class="container-fluid">
            <!-- Copyright -->
            <div class="copyright">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="copyright-text">
                    <p class="mb-0">
                      <a href="templateshub.net">Templates Hub</a>
                    </p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <!-- Copyright Menu -->
                  <div class="copyright-menu">
                    <ul class="policy-menu">
                      <li>
                        <a href="term-condition.html">Terms and Conditions</a>
                      </li>
                      <li><a href="privacy-policy.html">Policy</a></li>
                    </ul>
                  </div>
                  <!-- /Copyright Menu -->
                </div>
              </div>
            </div>
            <!-- /Copyright -->
          </div>
        </div>
        <!-- /Footer Bottom -->
      </footer>
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/js/Normal/script.js' %}"></script>

    <!-- Searchbar JS -->
    <script src="{% static 'HealthStack-System/js/Normal/sidebar.js' %}"></script>
  </body>

  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
</html>