{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/login.html  30 Nov 2019 04:12:20 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>HealthStack</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">	{% if user.is_authenticated and user.is_patient %}
                                    {% include 'patient_navbar.html' %}
                                    {% endif %}
				</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
                                    {% if user.is_authenticated and user.is_patient %}
									<li class="breadcrumb-item"><a href="">View Report</a></li>
                                    {% endif %}
									<li class="breadcrumb-item active" aria-current="page">Report Result</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Report Result</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
                         <!-- Profile Sidebar -->
                                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                                    <div>{% include 'patient-sidebar.html' %}</div>
                                </div>
                            <!-- / Profile Sidebar -->
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="invoice-content">
								<div class="invoice-item">
									<div class="row">
                    
										<div class="col-md-6">
											<div class="invoice-logo">
												<img src="{% static 'HealthStack-System/images/Normal/FullLogo_Transparent_NoBuffer.png'%}" alt="logo">
											</div>
										</div>
										<div class="col-md-6">
											<p class="invoice-details">

												{% for report in report %}
												<strong>Report ID:</strong>{{report.report_id}} <br>
												<strong>Patient ID:</strong> {{patient.patient_id }} <br>
												<strong>Date:</strong> {{report.delivery_date}}
											</p>
										</div>
									</div>
								</div>
								
								<!-- Invoice Item -->
								<div class="invoice-item">
									<div class="row">
										<div class="col-md-6">
											<div class="invoice-info">
												<strong class="customer-text">Doctor Information:</strong>
                        
												<p class="invoice-details invoice-details-two">

													<b>Name: </b>{{report.doctor.name}} <br>
													<b>Department: </b>{{report.doctor.department_name}}<br>
													<b>Email: </b>{{report.doctor.email}} <br>

												</p>
                        
											</div>
										</div>
										<div class="col-md-6">
											<div class="invoice-info invoice-info2">
												<strong class="customer-text">Patient Information:</strong>
												<p class="invoice-details">
													<b>Name: </b>{{patient.name}} <br>
													<b>Address: </b>{{report.patient.address}}<br>
													<b>Email: </b>{{report.patient.email}} <br>
													<b>Phone Number: </b>{{report.patient.phone_number}}<br>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table table-bordered text-center">
													<thead >
														<tr style="background-color: rgb(84, 147, 199)">
															<th style="border: 2px dotted;">Specimen Information</th>
															<th style="border: 2px dotted;">Specimen ID</th>
															<th style="border: 2px dotted;">Collection Date/Time</th>
															<th style="border: 2px dotted;">Receiving Date/Time</th>
														</tr>
														{% for s in specimen %}
														<tr>
														
															<th style="border: 2px dotted;">{{s.specimen_type}}</th>
															<th style="border: 2px dotted;">{{s.specimen_id}}</th>
															<th style="border: 2px dotted;">{{s.collection_date}}</th>
															<th style="border: 2px dotted;">{{s.receiving_date}}</th>
	
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
										
									</div>
								</div>

           
                  				<br>
                  				<div class="invoice-item invoice-table-wrap">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="invoice-table table table-bordered text-center">
													<thead>
														<tr style="background-color: rgb(84, 147, 199);">
															<th style="border: 2px dotted;">Test Name</th>
                              								<th style="border: 2px dotted;">Result</th>
															<th style="border: 2px dotted;">Unit</th>
                             								<th style="border: 2px dotted;">Referred value</th>
	
														</tr>
                            							{% for t in test %}
                            							<tr>
                              								<th style="border: 2px dotted;">{{t.test_name}}</th>
                              								<th style="border: 2px dotted;">{{t.result}}</th>
															<th style="border: 2px dotted;">{{t.unit}}</th>
                              								<th style="border: 2px dotted;">{{t.referred_value}}</th>
														</tr>
														{% endfor %}
													</tbody>
												</table>

                       

                        

											</div>
										</div>
										
									</div>
								</div>
                                
								<!-- /Invoice Item -->
                                
								
								<!-- Invoice Information -->
								<div class="other-info">
									<h4><b>Other Information:</b></h4>
									<p>{{report.other_information}}</p>
                  

                  <button class="btn btn-sm bg-primary-light"> <a target="_blank" href="{% url 'pdf' pk=report.report_id %}" > Download Report </a></button>
                  {% endfor %}

                  
								</div>
								<!-- /Invoice Information -->
							  
							</div>
        
						</div>
					</div>

				</div>
        

			</div>		
			<!-- /Page Content -->

      
      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- /Footer -->
      
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>

    <!-- Searchbar JS -->
    <script src="{% static 'HealthStack-System/js/Normal/sidebar.js' %}"></script>
  </body>

  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
</html>